.grid {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    border-left: 1px solid black;
    max-width: max-content;
}

.row {
    display: flex;
}

.column {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 16px;
    height: 16px;
}