body {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    background-color: rgb(231, 231, 231);
    color: rgb(50, 50, 50);
}

.footer,
.header {
    padding: 36px;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-self: stretch;
    align-items: center;


}

h1 {
    margin: 0;
    font-size: 56px;
}

.flex-wrapper {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#grid-container {
    display: flex;
    padding: 12px;
}

.grid {
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    width: 40vw;
    height: 40vw;
    max-width: 500px;
    max-height: 500px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    /* border-top: 1px solid black; */
    /* border-left: 1px solid black; */
}

.row {
    display: flex;
    flex: 1;
}

.cell {
    /* border-right: 1px solid black; */
    /* border-bottom: 1px solid black; */
    flex: 1;
    background-color: #fff;
    /* for now we are not using grayscale */
    /* filter: grayscale(0%); */
    /* transition: filter 0.3s; */
}

.side-bar-header {
    margin: 0;
    font-size: 24px;
}

.side-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 12px;
}


.btn {
    border: 2px solid lightslategray;
    margin: 0;
    padding: 16px 24px;
    align-self: stretch;
    border-radius: 4px;
}

.btn:hover {
    transform: scale(1.05);
    transition: 0.1s ease;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-header {
    margin: 0;
}

.footer {
    font-size: 18px;
    margin-top: 24px;
    gap: 12px;
}

.footer a {
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 6px;
    color: rgb(50, 50, 50);
}

.footer a:hover {
    text-decoration: underline;
    color: black;
}

#github-logo {
    width: 32px;
}

#toggle-header {
    display: flex;
    margin-left: 156px;
    width: 500px;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

#toggle-text {
    font-size: 18px;
    margin: 0;
    padding: 6px;
    display: inline-block;
    color: rgb(50, 50, 50);
}

#toggle-draw {
    font-size: 18px;
    color: red;
    width: 120px;
    text-align: center;
}

#color-picker {
    padding: 4px;
    border-radius: 3px;
}

#color-input {
    margin: 0 auto;
    border: none;
    width: 120px;
    height: 58px;
}